<div class="container font-mono mx-auto px-4 text-center">
    <h1 class="text-5xl font-extrabold">Trang chủ</h1>
    <h3 class="text-xl font-light">Pizza Company HF</h3>
    <div class="grid grid-cols-3 auto-cols-max text-3xl">
        <div><button routerLink="/chicken"
                class="bg-blue-300 rounded-lg px-4 py-2 hover:bg-blue-500 hover:text-white transition-colors ease-in-out focus:outline-none focus:ring">Chicken</button>
        </div>
        <div><button routerLink="/pizza"
                class="bg-blue-300 rounded-lg px-4 py-2 hover:bg-blue-500 hover:text-white transition-colors ease-in-out focus:outline-none focus:ring">Pizza</button>
        </div>
        <div><button routerLink="/drink"
                class="bg-blue-300 rounded-lg px-4 py-2 hover:bg-blue-500 hover:text-white transition-colors ease-in-out focus:outline-none focus:ring">Drink</button>
        </div>
    </div>
</div>